/* This file is for your main application css. */
.table, .table th, .table td, .table tr, .fixed-table-container{
    border: 0px;
    border-top: 0px;
}
.button{
	font-size: 30pt;
	cursor: pointer;
	padding: 5px;
	background: grey;
	border-radius: 15px;
}
.border:not(:first-child){
    border-left: 2px solid black;
}

.rborder{
	height: 100px;
}
.rborder:not(:first-child){
	border-top: 2px solid black;
}
.rborder:first-child{
	border-top: 0;
}

.isX{
	color: red;
}

.isO{
	color: blue;
}

.myvote {
	cursor: not-allowed;
}

/* Timer CSS */
#timerDiv {
	font-size: 20pt;
}
